@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    background-color: #88CCF1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: 0.15em solid black;
    border-radius: 1em;
    padding: 5%;
    padding-top: 0;
    width: 75%;
    margin-bottom: 2%;
    background-color: #C1DFF0;

}

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.15em solid black;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

img {
    width: 7.5%;
    height: 7.5%;
    cursor: pointer;
    margin-top: 3%;
    mix-blend-mode: multiply;
   
}

textarea {
    resize: none;
    font-family: 'Inter';
    border: none;
    outline: none;
    border-bottom: 0.15em solid black;
    background-color: #C1DFF0;
    width: 45%;
    height: 3.5vh;
    font-size: 1.1em;
}

.captions {
    display: flex;
}

#add-button, #create {
    font-family: 'Inter';
    font-size: 1.6em;
    width: 27.5vw;
    height: 2vh;
    padding: 4vh 2vw;
    border: 0.1em solid black;
    border-radius: 0.75em;
    cursor: pointer;
    background-color: #C1DFF0;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 0.15em solid black;
    border-radius: 1em;
    padding: 0 2%;
}

.container-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;          
}

.content {
    display: flex;
    justify-content: center; 
    align-items: center;     
    border: 0.075em solid black;
    border-radius: 1em;
    width: 100%;              
    padding: 17.5% 2%;
    text-align: center;    
    font-size: 2em;
    background-color: #C1DFF0;
}

.card-bottom {
    display: flex;
    flex-direction: row;
}

.flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;            
    margin: 1% 0;         
}

#prev, #show, #next {
    height: 8vh;
    width: 13.5vw;
    margin: 1% 0.5%;
    font-family: 'Inter';
    font-size: 1.6em;
    border: 0.1em solid black;
    border-radius: 0.75em;
    cursor: pointer;
    background-color: #C1DFF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#return {
    position: absolute;
    top: 5%;
    left: 2.5%;
    background-color: #88CCF1;
    border: none;
    outline: none;
    font-family: 'Inter';
    cursor: pointer;
    font-size: 2em;
}